body{
    background-color: black;
    margin: 0;
}
#seção1{
    background-image: url(fundo\ da\ netflix.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
}
#barra{
    background-color: white;
    height: 20px;
    width: 100px;
}